body {
	main {
		height: 660px;
		display: flex;
		align-items: center;
		.container {
			.row {
				.error_txt {
					h1 {
						font-size: 40px;
						font-family: "OpenSans-Bold";
						color: $heading;
					}
					p {
						font-size: 18px;
						font-family: "OpenSans";
						color: $heading;
						margin: 36px 0 49px 0;
					}
					button {
						background-color: $blue;
						width: 190px;
						height: 48px;
						border-radius: 0;
						span {
							font-family: "OpenSans-Bold";
							font-size: 14px;
							text-transform: none;
						}
						img {
							width: 15px;
						}
					}
				}
				.error_img {
					display: flex;
					justify-content: flex-end;
					img {
						width: 328.7px;
						height: 310.7px;
					}
				}
			}
		}
	}
}
