nav.header_box {
	background-color: $dark_blue !important;
	ul {
		margin: revert !important;
		a {
			box-shadow: none !important;
		}
		a.btn {
			margin-left: 4px !important;
			margin-right: 4px !important;
		}
		span.badge {
			line-height: 17px !important;
			height: 16px !important;
			-webkit-font-smoothing: auto;
			width: 16px;
			min-width: 16px !important;
			color: white;
			font-size: 12px;
			border-radius: 50%;
			text-align: center;
		}
	}
}
nav.home {
	background-color: $light_white;
	ul {
		margin: 25px auto !important;
		a {
			box-shadow: none !important;
		}
		a.btn {
			margin-left: 4px !important;
			margin-right: 4px !important;
		}
		span.badge {
			line-height: 17px !important;
			height: 16px !important;
			-webkit-font-smoothing: auto;
			width: 16px;
			min-width: 16px !important;
			color: white;
			font-size: 12px;
			border-radius: 50%;
			text-align: center;
		}
	}
}
.keyboard-focused .collapsible-header:focus {
	background-color: white;
}
input:focus,
textarea.materialize-textarea:focus,
input.valid {
	border-bottom: 1px solid #b3b6b9 !important;
	box-shadow: none !important;
}
.carousel .indicators .indicator-item.active {
	background-color: $blue !important;
}
.carousel .indicators .indicator-item {
	background-color: $med_gray !important;
	height: 10px;
	width: 10px;
}
