//blues
$dark_blue: #004377;
$blue: #0086e6;
$light_blue: #37abff;

//grays
$light_white: #f7f7f7;
$light_gray: #ededed;
$med_gray: #e2e2e2;
$gray: #7d7d7d;

//texts
$body_text: #3d3d3d;
$heading: #161719;
