@media screen and (max-width: 992px) {
	body {
		.header_box {
			> div {
				display: flex;
				align-items: center;
				> a {
					> img {
						width: auto;
						height: 50px;
						position: absolute;
						top: -26px;
					}
				}
			}
		}
		ul.sidenav {
			display: flex;
			flex-direction: column;
			li {
				a {
					background: rgba(128, 91, 91, 0) !important;
					border: 1px solid white;
					border-radius: 0px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					box-shadow: none;
					border: 1px solid $dark_blue;
					position: relative;
					img,
					span {
						vertical-align: -moz-middle-with-baseline;
						vertical-align: -webkit-baseline-middle;
					}
					span {
						color: $dark_blue;
					}
					img {
						width: 28px;
						height: 28px;
					}
					span.badge {
						position: absolute;
						top: -9px;
						right: 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 25px;
						min-width: auto;
						height: 25px;
						border-radius: 50%;
					}
				}
				a.btn {
					font-family: "OpenSans-Bold";
					text-transform: none;
				}
			}
			li:last-child {
				position: relative;
				input {
					border: 1px solid $dark_blue;
					color: $dark_blue;
					border-radius: 0px;
					display: flex;
					justify-content: center;
					width: 85%;
					height: 48px;
					padding: 0px 6px;
					margin: 10px auto;
					font-size: 13px;
					&::placeholder {
						font-size: 12px;
						color: $gray;
					}
				}
				input:focus,
				input:visited {
					border: 1px solid $dark_blue !important;
					box-shadow: none !important;
				}
				button {
					background: $blue;
					width: 90%;
					height: 48px;
					border-radius: 0px;
					display: flex;
					justify-content: center;
					margin: 0 auto;
					img {
						width: 22px;
						height: 22px;
						margin: auto;
					}
				}
			}
		}
		nav {
			background-color: $dark_blue !important;
			.brand-logo {
				left: calc(100% - 226px) !important;
			}
		}
	}
}
