body {
	main.order {
		background-color: $light_white;
		height: auto;
		.cart_main {
			margin: 10em 2em auto 2em;
			.cart_box {
				nav {
					background: rgba(0, 0, 0, 0) !important;
					box-shadow: none !important;
					.breadcrumb {
						font-size: 12px !important;
						&::before {
							margin: 0 !important;
							color: $gray !important;
							font-size: 18px !important;
						}
					}
					a:first-child,
					a:nth-child(2),
					a:nth-child(3),
					a:nth-child(4) {
						color: $gray;
					}
					a:last-child {
						color: $blue;
					}
				}
				.row {
					.col:first-child {
						.cart_box_inner {
							h1 {
								padding: 1em 2em;
							}
						}
					}
					.process_done {
						display: none;
					}
					.cart_box_inner {
						background-color: white;
						box-shadow: 4px 4px 15px #cccccc;
						height: 60vh;
						div.title {
							padding: 1em 2em 0;
						}
						div.expire {
							padding: 1.2em 2em 0;
							text-align: right;
							h2 {
								font-size: 12px;
								font-family: "OpenSans";
								color: $gray;
							}
							h5 {
								font-size: 12px;
								font-family: "OpenSans";
								color: $blue;
							}
						}
						h1 {
							font-size: 20px;
							font-family: "OpenSans-Bold";
							color: $body_text;
							margin: 0 !important;
						}
						h2 {
							font-size: 18px;
							font-family: "OpenSans-Bold";
							color: $heading;
							margin: 0 !important;
						}
						h5 {
							font-size: 14px;
							font-family: "OpenSans";
							color: $gray;
							margin: 4px auto 11px auto;
						}
						ul.cart_summary {
							border-top: 2px solid $med_gray;
							border-bottom: 2px solid $med_gray;
							padding: 1em 2em;
							li {
								display: flex;
								justify-content: space-between;
								margin: 16px auto 26px auto;
								span {
									font-size: 14px;
									font-family: "OpenSans";
									color: $heading;
								}
							}
						}
						ul.cart_summary.list {
							margin-bottom: 0;
						}
						ul.total {
							border: 0;
							margin: 0;
							li {
								margin: 0;
								span:nth-child(2) {
									font-size: 18px;
									font-family: "OpenSans-Bold";
									color: $blue;
								}
							}
						}
						.cart_print_box {
							padding: 0em 6em;
							.print {
								display: flex;
								justify-content: flex-end;
								align-items: center;
								margin-bottom: 25px;
								i {
									&:hover {
										cursor: pointer;
									}
									img {
										width: 15px;
										height: 13px;
									}
								}
								span {
									margin-left: 10px;
									font-size: 12px;
									font-family: "OpenSans";
									color: $blue;
									&:hover {
										cursor: pointer;
									}
								}
							}
							.quote {
								button {
									height: 48px;
									width: 100%;
									border: none;
									border-radius: 0;
									display: flex;
									flex-direction: row;
									align-items: center;
									justify-content: space-between;
									box-shadow: none;
									span {
										font-size: 16px;
										font-family: "OpenSans-Bold";
										text-transform: none;
									}
									&:hover {
										cursor: pointer;
									}
									img {
										width: 10px;
									}
								}
								&.gray_btn {
									button {
										background: $light_gray;
										span {
											color: $gray;
										}
										img {
											filter: grayscale(100%);
										}
									}
								}
								&.blue_btn {
									button {
										background: $blue;
										span {
											color: white;
										}
										img {
											filter: brightness(0) invert(1);
										}
									}
								}
							}
						}
						&.order_process_box {
							background-color: rgba(0, 0, 0, 0);
							box-shadow: none;
							height: auto;
							ul.collapsible {
								box-shadow: none;
								margin: 0;
								border: none;
								li {
									margin: 0 0 2em;
									background-color: rgba(0, 0, 0, 0);
									box-shadow: 4px 4px 15px #cccccc;
									.collapsible-header {
										height: 115px;
										background: white;
										border: none;
										padding: 1rem 3rem;
										display: flex;
										justify-content: space-between;
										h2 {
											font-size: 20px;
											font-family: "OpenSans-Bold";
											color: $heading;
										}
										h4 {
											font-size: 14px;
											font-family: "OpenSan";
											color: $heading;
										}
										.img_coll {
											display: flex;
											align-items: center;
											img {
												transform: rotate(90deg);
												width: 12px;
											}
										}
									}
									.collapsible-body {
										background: white;
										border-top: 2px solid $med_gray;
										padding: 0;
										.billing_box {
											margin: 2em auto 0;
											.row {
												div:first-child {
													margin: 0;
												}
												div.col:first-child {
													display: flex;
													justify-content: flex-end;
												}
												div.col:last-child {
													display: flex;
													justify-content: flex-start;
												}
												div.col.address {
													display: flex;
													justify-content: center;
												}
												.billing_box_inner {
													position: relative;
													&.billing_small {
														width: 316px;
														input {
															width: 301px;
														}
													}
													&.billing_icon {
														width: 316px;
														input {
															width: 301px;
														}
													}
													&.billing_large {
														input {
															width: 636px;
														}
													}
													input {
														border: 1px solid #b3b6b9;
														height: 48px;
														padding-left: 10px;
														&::placeholder {
															font-family: "OpenSans";
															font-size: 14px;
															color: #b3b6b9;
														}
													}
													i {
														position: absolute;
														right: 10px;
														top: 13px;
														img {
															width: 22px;
														}
													}
													.country {
														input {
															width: 83px;
														}
													}
													.phone {
														position: relative;
														input {
															width: 185px;
														}
													}
													label {
														position: absolute;
														top: 15px;
														left: 8px;
														color: gray;
														font-family: "OpenSans";
														font-size: 14px;
														color: #b3b6b9;
													}
													.select-wrapper {
														ul {
															li {
																margin: 0;
																background-color: white;
																box-shadow: none;
															}
														}
													}
												}
											}
										}
										ul.payment_box {
											display: flex;
											justify-content: space-evenly;
											padding: 2rem;
											li.payment {
												border: 1px solid $med_gray;
												box-shadow: none;
												width: 25%;
												height: 100px;
												text-align: center;
												padding: 1em 2em;
												display: flex;
												flex-direction: column;
												justify-content: center;
												align-items: center;
												&:hover {
													box-shadow: 4px 4px 15px #cccccc;
													cursor: pointer;
												}
												img {
													width: 20px;
												}
												p {
													font-size: 16px;
													font-family: "OpenSans";
													color: $heading;
													margin: 5px;
												}
											}
										}
										.paypal {
											display: none;
											border-top: 2px solid $med_gray;
											padding: 2rem 9rem;
											p {
												font-size: 16px;
												font-family: "OpenSans";
												color: $heading;
											}
											input {
												width: 301px;
												height: 48px;
												border: 1px solid $med_gray;
												padding-left: 10px;
												&:focus {
													border-bottom: 1px solid $med_gray !important;
												}
											}
										}
										.debit {
											display: none;
											border-top: 2px solid $med_gray;
											padding: 2rem 9rem;
											ul {
												li {
													margin: 0 0 1em;
													background-color: rgba(0, 0, 0, 0);
													box-shadow: none;
													display: flex;
													align-items: baseline;
													&:nth-child(3) {
														align-items: center;
													}
													div.col {
														margin: 0;
														span {
															font-size: 14px;
															font-family: "OpenSans-Bold";
															color: $heading;
														}
														input {
															width: 301px;
															height: 48px;
															border: 1px solid $gray;
															padding-left: 10px;
															&:focus {
																border-bottom: 1px solid $gray !important;
															}
														}
														input.cvv2 {
															width: 91px;
														}
														span.help {
															color: $gray;
															border-radius: 50%;
															border: 1px solid $gray;
															padding: 0.5em 1em;
															margin-left: 2em;
															&:hover {
																cursor: pointer;
															}
														}
														&.expiration {
															display: flex;
															align-items: center;
															.select-wrapper {
																input {
																	height: 48px;
																	width: 91px;
																	padding-left: 15px;
																	&::placeholder {
																		font-family: "OpenSans";
																		font-size: 14px;
																		color: $med_gray;
																	}
																}
																svg {
																	fill: $med_gray !important;
																}
																ul.dropdown-content {
																	li {
																		> span {
																			color: $gray;
																		}
																	}
																}
															}
															span {
																margin: 0 1em;
															}
														}
													}
												}
											}
										}
										.bank {
											display: none;
											border-top: 2px solid $med_gray;
											padding: 2rem 7rem;
											p {
												font-size: 16px;
												font-family: "OpenSans";
												color: $heading;
												margin-bottom: 2em;
											}
											ul {
												border: 1px solid $gray;
												margin-bottom: 2em;
												li {
													box-shadow: none;
													background-color: rgba(0, 0, 0, 0);
													height: 40px;
													display: flex;
													align-items: center;
													margin-bottom: 0;
													div {
														margin: 1em;
													}
												}
												li:not(:last-child) {
													border-bottom: 1px solid $med_gray;
													div.l3 {
														span {
															font-size: 14px;
															font-family: "OpenSans-Bold";
															color: $heading;
														}
													}
													div.l6 {
														span {
															font-size: 14px;
															font-family: "OpenSans";
															color: $heading;
														}
													}
												}
											}
											.email,
											.hint {
												display: flex;
												margin-bottom: 1em;
												img {
													width: 30px;
													height: 30px;
													margin-right: 1em;
												}
												span {
													font-size: 14px;
													font-family: "OpenSans";
													color: $heading;
													a {
														color: $blue;
													}
												}
											}
										}
									}
									&.active {
										.collapsible-header {
											.img_coll {
												transform: rotate(180deg);
											}
										}
									}
								}
							}
						}
						&.order_process_box_done {
							h4 {
								font-size: 20px;
								font-family: "OpenSans-Bold";
								color: $heading;
								padding: 2em 3em;
								border-bottom: 2px solid $med_gray;
								margin: 0;
							}
							.process_content {
								display: flex;
								flex-direction: column;
								align-items: center;
								height: 60%;
								justify-content: center;
								.tick_img {
									width: 104px;
									height: 104px;
									border-radius: 50%;
									background-color: #2ec700;
									display: flex;
									justify-content: center;
									align-items: center;
									img {
										width: 46px;
										height: 33px;
									}
								}
								p {
									font-size: 18px;
									font-family: "OpenSans";
									color: $body_text;
									margin-top: 3em;
								}
							}
							.process_footer {
								position: absolute;
								bottom: 0;
								width: 100%;
								height: 60px;
								background: $light_white;
								padding: 1em 5em;
								display: flex;
								align-items: center;
								p {
									font-size: 14px;
									font-family: "OpenSans";
									color: $body_text;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 467px) {
	main.order {
		.cart_main {
			.cart_box {
				.row {
					.cart_box_inner {
						.cart_print_box {
							.quote {
								button {
									width: auto !important;
									height: auto !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	main.order {
		div.expire {
			padding: 1em 2em 0;
			text-align: left !important;
			h2 {
				font-size: 15px !important;
			}
			h5 {
				font-size: 15px !important;
			}
		}
		.collapsible-body {
			.billing_box_inner {
				.phone,
				.country {
					position: relative;
					input {
						width: auto !important;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	main.order {
		.process_order {
			.collapsible-body {
				.billing_box {
					div.col {
						display: flex;
						justify-content: center !important;
						.billing_box_inner {
							&.billing_small,
							&.billing_icon {
								width: auto !important;
							}
							input {
								width: auto !important;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 601px) and (max-width: 768px) {
	main.order {
		.process_order {
			.collapsible-body {
				.billing_box {
					div.col {
						display: flex;
						justify-content: center !important;
						.billing_box_inner {
							&.billing_small,
							&.billing_icon {
								width: 91% !important;
								input {
									width: 93% !important;
								}
							}
							&.billing_large {
								width: 95% !important;
								input {
									width: 97% !important;
								}
							}
							.country {
								input {
									width: 60px !important;
								}
							}
							.phone {
								position: relative;
								input {
									width: 135px !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	main.order {
		height: auto !important;
		.cart_main {
			.cart_box {
				.row {
					> div:first-child {
						margin-bottom: 2em;
					}
					.process_done {
						margin-bottom: 3em;
					}
					.cart_box_inner {
						height: auto !important;
						.cart_table {
							.cart_price {
								padding-right: 1em;
							}
						}
						&.order_process_box {
							ul.collapsible {
								.collapsible-header {
									height: auto !important;
								}
								.collapsible-body {
									ul.payment_box {
										flex-direction: column;
										li {
											width: 100% !important;
											height: auto !important;
										}
									}
									.paypal,
									.debit,
									.bank {
										padding: 2rem !important;
										input {
											width: 100% !important;
										}
									}
									.debit {
										ul {
											li {
												display: grid !important;
												div.col {
													span.help {
														margin-left: 0 !important;
													}
													&.expiration {
														span {
															margin: 0 1em 0 2em !important;
														}
													}
												}
											}
										}
									}
									.bank {
										ul {
											li {
												height: auto !important;
											}
										}
										.email,
										.hint {
											margin-bottom: 2em !important;
										}
									}
								}
							}
						}
						&.order_process_box_done {
							.process_footer {
								position: relative !important;
								height: auto !important;
							}
						}
					}
					.col:nth-child(2) {
						.cart_box_inner {
							margin-top: 2em;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 993px) and (max-width: 1161px) {
	main.order {
		.cart_main {
			.cart_box {
				.row {
					.cart_box_inner {
						.cart_print_box {
							.quote {
								button {
									height: auto !important;
								}
							}
						}
						&.order_process_box {
							ul.collapsible {
								.collapsible-body {
									.billing_box {
										div.col {
											display: flex;
											justify-content: center !important;
											.billing_box_inner {
												&.billing_small,
												&.billing_icon {
													width: auto !important;
													input {
														width: auto !important;
													}
												}
												&.billing_large {
													width: 88% !important;
													input {
														width: 99% !important;
													}
												}
												.country {
													input {
														width: 60px !important;
													}
												}
												.phone {
													position: relative;
													input {
														width: 158px !important;
													}
												}
											}
										}
									}
									ul.payment_box {
										li {
											width: 30% !important;
										}
									}
									.paypal,
									.debit {
										padding: 2rem !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	main.order {
		.cart_main {
			.cart_box {
				.row {
					.cart_box_inner {
						position: relative;
						.cart_print_box {
							position: absolute;
							bottom: 0px;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
