body {
	main {
		background-color: white;
		height: auto;
		.product_main {
			margin: 2em;
			.product_box {
				nav {
					background: rgba(0, 0, 0, 0) !important;
					box-shadow: none !important;
					.breadcrumb {
						font-size: 12px !important;
						&::before {
							margin: 0 !important;
							color: $gray !important;
							font-size: 18px !important;
						}
					}
					a:first-child,
					a:nth-child(2) {
						color: $gray;
					}
					a:last-child {
						color: $blue;
					}
				}
				.row {
					.product_box_inner {
						.product_img {
							display: flex;
							justify-content: center;
							width: 100%;
							height: 412px;
							align-items: center;
							img {
								width: 100%;
								height: auto;
								max-width: 50%;
								max-height: 100%;
							}
						}
						ul.img_option {
							display: flex;
							justify-content: center;
							margin-top: 47px;
							li {
								display: flex;
								align-items: center;
								i {
									&:hover {
										cursor: pointer;
									}
									img {
										width: 15px;
										height: 13px;
									}
								}
								span {
									margin-left: 5px;
									font-size: 14px;
									font-family: "OpenSans";
									color: #1c1c1c;
									&:hover {
										cursor: pointer;
									}
								}
								&:nth-child(2),
								&:nth-child(3) {
									margin-left: 2em;
								}
							}
						}
						ul.caption_option {
							li {
								h1 {
									font-size: 18px;
									font-family: "OpenSans-Bold";
									color: $heading;
									margin: 1em auto;
								}
								h6 {
									font-size: 14px;
									font-family: "OpenSans";
									color: $body_text;
								}
								.button_box {
									.quantity_box {
										display: flex;
										justify-content: flex-start;
										input {
											&:focus {
												border-bottom: none !important;
											}
										}
										.button_quantity,
										.input_quantity {
											width: 48px;
											height: 48px;
											border: none;
											text-align: center;
										}
										.plus {
											background-color: $blue;
											color: white;
											font-size: 33px;

											&:hover {
												cursor: pointer;
											}
										}
										.minus {
											background-color: $med_gray;
											color: $gray;
											font-size: 33px;
											&:hover {
												cursor: pointer;
											}
										}
									}
									.basket {
										display: flex;
										flex-direction: column;
										button {
											width: 310px;
											height: 48px;
											border-radius: 0;
											box-shadow: none;
											span {
												font-size: 16px;
												font-family: "OpenSans-Bold";
												text-transform: none;
											}
											&:first-child {
												background-color: $blue;
												margin-bottom: 16px;
												span {
													color: white;
												}
											}
											&:nth-child(2) {
												background-color: white;
												border: 1px solid $blue;
												span {
													color: $blue;
												}
											}
										}
									}
									&:nth-child(2) {
										margin-top: 3.7em;
									}
								}
							}
						}
					}
					.slider_title {
						display: flex;
						justify-content: space-between;
						h1 {
							font-size: 24px;
							font-family: "OpenSans-Bold";
							color: $heading;
							margin: 0;
						}
						.carousel_arrow {
							.left {
								margin-right: 2em;
							}
							a {
								i {
									img {
										width: 13px;
									}
								}
							}
						}
					}
					.product {
						&.carousel {
							height: 20em !important;
						}
						.carousel-item {
							display: flex;
							justify-content: center;
							.product_slide {
								width: 190px;
								height: 244px;
								border: 1px solid black;
								padding: 3em 1em;
								margin: 0 1em;
								p {
									font-size: 14px;
									font-family: "OpenSans";
									color: $heading;
								}
							}
						}
					}
				}
				.modal {
					width: 412px;
					margin-top: 10em;
					.product_box,
					.question_box {
						a.modal-close {
							float: right;
							clear: both;
							img {
								transform: rotate(225deg);
								width: 17px;
							}
						}
						.product_box_inner,
						.question_box_inner {
							text-align: center;
							margin-top: 2em;
							h4 {
								font-size: 24px;
								font-family: "OpenSans-Bold";
								color: #000000;
							}
							p {
								font-size: 16px;
								font-family: "OpenSans";
								color: #000000;
								margin: 2em auto 3em auto;
							}
							.product_btn {
								button {
									box-shadow: none;
									border-radius: 0;
									width: 301px;
									height: 48px;
									span {
										font-size: 16px;
										font-family: "OpenSans-Bold";
										text-transform: none;
									}
								}
								button#cancel-btn {
									background-color: $blue;
									color: white;
								}
								button#product-btn {
									background-color: white;
									color: $blue;
									border: 1px solid $blue;
									margin-top: 2em;
								}
							}
						}
					}
					&#question-box {
						width: 800px;
						height: 650px;
						margin-top: 6em;
						h4 {
							margin-bottom: 2em;
						}
						.row.checkbox {
							width: 92%;
							display: flex;
							margin-left: 4em;
							label {
								span {
									margin-bottom: 17px;
									color: $body_text;
									font-family: "OpenSans";
									font-size: 12px;
								}
							}
						}
						.flex_box {
							display: flex;
							justify-content: center;
							.modal_inner {
								position: relative;
								input {
									border: 1px solid #b3b6b9;
									height: 48px;
									width: 288px;
									padding-left: 10px;
									margin: 0 10px 0 10px;
									&::placeholder {
										font-family: "OpenSans";
										font-size: 14px;
										color: #b3b6b9;
									}
								}
								i {
									position: absolute;
									top: 16px;
									width: auto;
									display: flex;
									img {
										width: 0.8em;
									}
								}
								i.email,
								i.name {
									right: 30px;
								}
								&.switch {
									height: 48px;
									border: none;
									border-radius: 0;
									border-radius: 0;
									width: 322px;
									margin: 0 10px auto 10px;
									> div.col {
										display: flex;
										label {
											display: inline-block;
											padding: 10px 20px;
											height: 49px;
											width: 153px;
											font-size: 14px;
											font-family: "OpenSans";
										}
										input {
											margin: 0;
											width: auto !important;
											& + label {
												color: $blue;
												border: 1px solid #b3b6b9;
											}
											&:checked + label {
												background-color: $blue;
												border: 1px solid $blue;
												color: white;
												&:hover {
													cursor: pointer;
												}
											}
										}
									}
								}
								.materialize-textarea {
									border: 1px solid #b3b6b9;
									height: 96px !important;
									width: 88%;
									max-height: 150px;
									padding-left: 10px;
								}
								i.textarea {
									position: absolute;
									right: 65px;
									top: 13px;
									width: auto;
									display: flex;
									img {
										width: 0.8em;
									}
								}
							}
						}
						.question_btn {
							text-align: center;
							button {
								height: 48px;
								background: $blue;
								border: none;
								border-radius: 0;
								width: 301px;
								span {
									font-size: 16px;
									font-family: "OpenSans-Bold";
									color: white;
									text-transform: none;
								}
								&:hover {
									cursor: pointer;
								}
							}
						}
						.modal-footer {
							background-color: $light_white;
							display: flex;
							justify-content: center;
							align-items: center;
							span {
								color: #545454;
								font-family: "OpenSans";
								font-size: 12px;
								a {
									color: $blue;
									font-family: "OpenSans-Bold";
								}
							}
						}
					}
				}
				#product-share {
					width: 800px;
					.input_box {
						margin: 32px auto;
						position: relative;
						input {
							width: 650px;
							height: 48px;
							border: 1px solid $blue;
							color: $body_text;
							font-size: 16px;
							padding-left: 10px;
						}
						button {
							background-color: $blue;
							color: white;
							box-shadow: none;
							border-radius: 0;
							width: 180px;
							height: 50px;
							position: absolute;
							right: 51px;
							span {
								font-size: 16px;
								font-family: "OpenSans-Bold";
								text-transform: none;
							}
						}
					}
					ul.social_media {
						display: flex;
						justify-content: center;
						li {
							a {
								img {
									width: 31.5px;
									height: 31.5px;
								}
							}
						}
						li:first-child {
							margin-right: 21.5px;
							margin-bottom: 0px !important;
						}
						li:nth-child(2) {
							margin-right: 20.5px;
						}
						li:nth-child(3) {
							margin-right: 20.3px;
							a {
								img {
									width: 30.7px;
									height: 24.9px;
									vertical-align: -moz-middle-with-baseline;
									vertical-align: -webkit-baseline-middle;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	main {
		.product_main {
			.product_box {
				#product-share {
					width: 90% !important;
					.input_box {
						display: flex;
						flex-direction: column;
						input {
							font-size: 13px !important;
							width: 100% !important;
							padding-left: 0px !important;
						}
						button {
							width: 100% !important;
							right: auto !important;
							position: relative !important;
						}
					}
				}
				#question-box {
					width: 90% !important;
					.row.checkbox {
						margin-left: 1em !important;
					}
					.question_btn {
						button {
							width: auto !important;
						}
					}
					.flex_box {
						display: block !important;
						.modal_inner {
							> div {
								position: relative !important;
							}
							input {
								width: 100% !important;
								margin: 10px auto !important;
							}
							&.switch {
								width: auto !important;
								> div.col {
									justify-content: center;
									margin-top: 1em;
								}
							}
							.materialize-textarea {
								width: 103% !important;
							}
							i.textarea {
								right: 16px !important;
							}
							i {
								top: 27px !important;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 840px) {
	main {
		.quantity_box {
			.row {
				&.flex_box {
					display: flex;
					justify-content: center;
				}
			}
		}
	}
}
@media screen and (min-width: 993px) and (max-width: 1108px) {
	body {
		main {
			.product_main {
				.product_box {
					.product_box_inner {
						ul.caption_option {
							.button_box {
								.basket {
									button {
										width: auto !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
