@font-face {
  font-family: "OpenSans-SemiBold";
  src: local(OpenSans-SemiBold), url(../font/Open_Sans/OpenSans-SemiBold.ttf) format("truetype"), url(../font/Open_Sans/OpenSans-Bold.woff2) format("woff2"), url(../font/Open_Sans/OpenSans-Bold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "OpenSans-Bold";
  src: local(OpenSans-Bold), url(../font/Open_Sans/OpenSans-Bold.ttf) format("truetype"), url(../font/Open_Sans/OpenSans-Bold.woff2) format("woff2"), url(../font/Open_Sans/OpenSans-Bold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "OpenSans";
  src: local(OpenSans-Bold), url(../font/Open_Sans/OpenSans-Regular.ttf) format("truetype"), url(../font/Open_Sans/OpenSans-Regular.woff2) format("woff2"), url(../font/Open_Sans/OpenSans-Regular.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }
body header {
  height: 96px;
  position: fixed;
  width: 100%;
  z-index: 9999; }
  body header .header_box {
    height: 96px;
    border-bottom: 5px solid #0086e6; }
    body header .header_box > div {
      height: 100% !important; }
      body header .header_box > div > a > img {
        width: auto;
        height: 50px;
        position: absolute;
        left: 33px;
        top: 23px; }
      body header .header_box > div ul.header_box_menu {
        display: flex;
        align-items: center; }
        body header .header_box > div ul.header_box_menu li:nth-child(4) {
          margin-right: 29px; }
          body header .header_box > div ul.header_box_menu li:nth-child(4) a.btn img {
            width: 19.8px;
            height: 15.3px; }
        body header .header_box > div ul.header_box_menu li:nth-child(3) a.btn img {
          width: 16px;
          height: 15px; }
        body header .header_box > div ul.header_box_menu li:nth-child(2) {
          margin-left: 90px; }
          body header .header_box > div ul.header_box_menu li:nth-child(2) a.btn {
            font-family: "OpenSans-Bold";
            font-size: 16px;
            text-transform: none;
            width: 127px;
            height: 48px; }
            body header .header_box > div ul.header_box_menu li:nth-child(2) a.btn img {
              width: 14px;
              height: 14px; }
        body header .header_box > div ul.header_box_menu li:first-child {
          position: relative; }
          body header .header_box > div ul.header_box_menu li:first-child input {
            width: 372px;
            height: 48px;
            border: none;
            background: white;
            padding: 0px 20px;
            font-family: "OpenSans-SemiBold";
            font-size: 12px;
            color: #004377; }
            body header .header_box > div ul.header_box_menu li:first-child input::placeholder {
              font-family: "OpenSans-SemiBold";
              font-size: 12px;
              color: #004377; }
            body header .header_box > div ul.header_box_menu li:first-child input:focus {
              border: none !important;
              box-shadow: none !important; }
          body header .header_box > div ul.header_box_menu li:first-child button {
            background: #0086e6;
            width: 36px;
            height: 36px;
            position: absolute;
            right: 6px;
            top: 14px;
            border-radius: 0px;
            display: flex;
            justify-content: center; }
            body header .header_box > div ul.header_box_menu li:first-child button img {
              width: 12.6px;
              height: 12.6px;
              margin: auto; }
        body header .header_box > div ul.header_box_menu li a.btn {
          background: rgba(128, 91, 91, 0) !important;
          border: 1px solid white;
          border-radius: 0px;
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center; }
          body header .header_box > div ul.header_box_menu li a.btn img,
          body header .header_box > div ul.header_box_menu li a.btn span {
            vertical-align: -moz-middle-with-baseline;
            vertical-align: -webkit-baseline-middle; }
          body header .header_box > div ul.header_box_menu li a.btn span.badge {
            position: absolute;
            top: 6px;
            right: 8px;
            display: flex;
            align-items: center;
            justify-content: center; }
          body header .header_box > div ul.header_box_menu li a.btn span:not(.badge) {
            margin-right: 13.7px; }

@media screen and (max-width: 992px) {
  body .header_box > div {
    display: flex;
    align-items: center; }
    body .header_box > div > a > img {
      width: auto;
      height: 50px;
      position: absolute;
      top: -26px; }
  body ul.sidenav {
    display: flex;
    flex-direction: column; }
    body ul.sidenav li a {
      background: rgba(128, 91, 91, 0) !important;
      border: 1px solid white;
      border-radius: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: none;
      border: 1px solid #004377;
      position: relative; }
      body ul.sidenav li a img,
      body ul.sidenav li a span {
        vertical-align: -moz-middle-with-baseline;
        vertical-align: -webkit-baseline-middle; }
      body ul.sidenav li a span {
        color: #004377; }
      body ul.sidenav li a img {
        width: 28px;
        height: 28px; }
      body ul.sidenav li a span.badge {
        position: absolute;
        top: -9px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        min-width: auto;
        height: 25px;
        border-radius: 50%; }
    body ul.sidenav li a.btn {
      font-family: "OpenSans-Bold";
      text-transform: none; }
    body ul.sidenav li:last-child {
      position: relative; }
      body ul.sidenav li:last-child input {
        border: 1px solid #004377;
        color: #004377;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        width: 85%;
        height: 48px;
        padding: 0px 6px;
        margin: 10px auto;
        font-size: 13px; }
        body ul.sidenav li:last-child input::placeholder {
          font-size: 12px;
          color: #7d7d7d; }
      body ul.sidenav li:last-child input:focus,
      body ul.sidenav li:last-child input:visited {
        border: 1px solid #004377 !important;
        box-shadow: none !important; }
      body ul.sidenav li:last-child button {
        background: #0086e6;
        width: 90%;
        height: 48px;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        margin: 0 auto; }
        body ul.sidenav li:last-child button img {
          width: 22px;
          height: 22px;
          margin: auto; }
  body nav {
    background-color: #004377 !important; }
    body nav .brand-logo {
      left: calc(100% - 226px) !important; } }
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body main {
    flex: 1 0 auto; }

body .footer_box {
  padding-top: 60px;
  background-color: #ededed; }
  body .footer_box .row > div {
    position: relative; }
    body .footer_box .row > div .logo img {
      width: 10em; }
    body .footer_box .row > div .logo p.logo_desc {
      width: auto;
      margin: 17px 0px !important;
      color: #3d3d3d;
      font-size: 14px;
      font-family: "OpenSans"; }
    body .footer_box .row > div a,
    body .footer_box .row > div span {
      font-size: 14px;
      font-family: "OpenSans";
      color: #161719; }
    body .footer_box .row > div ul b {
      font-size: 14px;
      font-family: "OpenSans-Bold";
      color: #161719; }
    body .footer_box .row > div ul li:first-child,
    body .footer_box .row > div ul li:nth-child(2),
    body .footer_box .row > div ul li:nth-child(3) {
      margin-bottom: 24px; }
    body .footer_box .row > div ul li.location {
      display: flex;
      margin: 24px auto 8px auto; }
      body .footer_box .row > div ul li.location img {
        width: 14.1px;
        height: 18.7px; }
      body .footer_box .row > div ul li.location span {
        width: 163px;
        height: 79px;
        margin-left: 12.9px; }
    body .footer_box .row > div ul li.phone {
      display: flex; }
      body .footer_box .row > div ul li.phone img {
        width: 14.6px;
        height: 14.6px; }
      body .footer_box .row > div ul li.phone span {
        margin-left: 12.9px; }
    body .footer_box .row > div div.touch ul.social_media {
      display: flex; }
      body .footer_box .row > div div.touch ul.social_media li a img {
        width: 31.5px;
        height: 31.5px; }
      body .footer_box .row > div div.touch ul.social_media li:first-child {
        margin-right: 21.5px;
        margin-bottom: 0px !important; }
      body .footer_box .row > div div.touch ul.social_media li:nth-child(2) {
        margin-right: 20.5px; }
      body .footer_box .row > div div.touch ul.social_media li:nth-child(3) {
        margin-right: 20.3px; }
        body .footer_box .row > div div.touch ul.social_media li:nth-child(3) a img {
          width: 30.7px;
          height: 24.9px;
          vertical-align: -moz-middle-with-baseline;
          vertical-align: -webkit-baseline-middle; }
    body .footer_box .row > div div.touch li button.feedback {
      width: 190px;
      height: 40px;
      border: 1px solid #7d7d7d;
      border-radius: 0px !important; }
      body .footer_box .row > div div.touch li button.feedback span {
        font-size: 14px;
        font-family: "OpenSans-Bold";
        color: #3d3d3d; }
  body .footer_box .footer-copyright {
    text-align: center; }
    body .footer_box .footer-copyright .container {
      border-top: 1px solid #b3b6b9;
      padding-top: 15px;
      padding-bottom: 10px;
      color: #3d3d3d;
      width: 90%; }

@media screen and (max-width: 992px) {
  body .footer_box .row > div .touch {
    margin: auto; } }
@media screen and (min-width: 993px) and (max-width: 1086px) {
  body .footer_box .row > div .find-us ul li.location {
    margin: 24px auto 54px auto; } }
@media screen and (min-width: 1087px) and (max-width: 1163px) {
  body .footer_box .row > div .find-us ul li.location {
    margin: 24px auto 40px auto; } }
body main.error_box {
  height: 660px;
  display: flex;
  align-items: center; }
  body main.error_box .container .row .error_txt h1 {
    font-size: 40px;
    font-family: "OpenSans-Bold";
    color: #161719; }
  body main.error_box .container .row .error_txt p {
    font-size: 18px;
    font-family: "OpenSans";
    color: #161719;
    margin: 36px 0 49px 0; }
  body main.error_box .container .row .error_txt button {
    background-color: #0086e6;
    width: 190px;
    height: 48px;
    border-radius: 0; }
    body main.error_box .container .row .error_txt button span {
      font-family: "OpenSans-Bold";
      font-size: 14px;
      text-transform: none; }
    body main.error_box .container .row .error_txt button img {
      width: 15px; }
  body main.error_box .container .row .error_img {
    display: flex;
    justify-content: flex-end; }
    body main.error_box .container .row .error_img img {
      width: 328.7px;
      height: 310.7px; }

body .collapsible .collapsible-header {
  position: relative;
  height: 48px; }
  body .collapsible .collapsible-header img:first-child {
    width: 21.3px;
    height: 21.3px; }
  body .collapsible .collapsible-header img:last-child {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 24px;
    top: 16px; }
  body .collapsible .collapsible-header span {
    margin-left: 13.2px; }

body header {
  height: 96px; }
  body header .home {
    height: 96px; }
    body header .home > div {
      height: 100% !important; }
      body header .home > div > a > img {
        width: auto;
        height: 50px;
        position: absolute;
        left: 33px;
        top: 23px; }
      body header .home > div ul.header_box_menu {
        display: flex;
        align-items: center; }
        body header .home > div ul.header_box_menu li:nth-child(3) {
          margin-right: 29px; }
          body header .home > div ul.header_box_menu li:nth-child(3) a.btn img {
            width: 19.8px;
            height: 15.3px; }
        body header .home > div ul.header_box_menu li:nth-child(2) a.btn img {
          width: 16px;
          height: 15px; }
        body header .home > div ul.header_box_menu li:first-child a.btn {
          font-family: "OpenSans-Bold";
          font-size: 16px;
          text-transform: none;
          width: 127px;
          height: 48px; }
          body header .home > div ul.header_box_menu li:first-child a.btn img {
            width: 14px;
            height: 14px; }
          body header .home > div ul.header_box_menu li:first-child a.btn span {
            color: #0086e6; }
        body header .home > div ul.header_box_menu li a.btn {
          background: rgba(128, 91, 91, 0) !important;
          border: 1px solid #0086e6;
          border-radius: 0px;
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center; }
          body header .home > div ul.header_box_menu li a.btn img,
          body header .home > div ul.header_box_menu li a.btn span {
            vertical-align: -moz-middle-with-baseline;
            vertical-align: -webkit-baseline-middle; }
          body header .home > div ul.header_box_menu li a.btn span.badge {
            position: absolute;
            top: 6px;
            right: 8px;
            display: flex;
            align-items: center;
            justify-content: center; }
          body header .home > div ul.header_box_menu li a.btn span:not(.badge) {
            margin-right: 13.7px; }
body main {
  background: #f7f7f7; }
  body main .slider_box {
    height: 100vh;
    background: linear-gradient(#e5f0ff, #ecf6fd);
    display: flex; }
    body main .slider_box .slider_box_inner {
      display: flex;
      width: 85%;
      align-items: center;
      margin: 0 auto; }
      body main .slider_box .slider_box_inner h1 {
        color: #161719;
        font-family: "OpenSans-Bold";
        font-size: 40px; }
      body main .slider_box .slider_box_inner p {
        color: #3d3d3d;
        font-family: "OpenSans";
        font-size: 18px; }
      body main .slider_box .slider_box_inner div.search {
        position: relative;
        width: 563px;
        margin: 32px 0 36px 0; }
        body main .slider_box .slider_box_inner div.search input {
          width: 523px;
          height: 56px;
          position: relative;
          border: none;
          background: white;
          padding: 0px 20px;
          font-family: "OpenSans-SemiBold";
          font-size: 12px;
          color: #004377;
          box-shadow: 5px 6px 19px #b3b3b3; }
          body main .slider_box .slider_box_inner div.search input::placeholder {
            font-family: "OpenSans-SemiBold";
            font-size: 12px;
            color: #004377; }
          body main .slider_box .slider_box_inner div.search input:focus {
            border: none !important;
            box-shadow: none !important; }
        body main .slider_box .slider_box_inner div.search button {
          background: #0086e6;
          width: 117px;
          height: 44px;
          position: absolute;
          right: 6px;
          top: 6px;
          border-radius: 0px;
          display: flex;
          align-items: center; }
          body main .slider_box .slider_box_inner div.search button img {
            width: 16.1px;
            height: 16.1px;
            margin: 0 2px 0 4px; }
          body main .slider_box .slider_box_inner div.search button span {
            font-size: 14px;
            font-family: "OpenSans-SemiBold";
            text-transform: none;
            margin: 0 auto; }
  body main .chat_box {
    display: flex;
    justify-content: flex-end;
    margin: 26px 33px 114px 0; }
    body main .chat_box button.chat_btn {
      background-color: #0086e6;
      border-radius: 0px;
      border: none;
      width: 60px;
      height: 60px;
      position: relative; }
      body main .chat_box button.chat_btn img {
        width: 22px;
        height: 20px; }
  body main .company_box {
    position: relative; }
    body main .company_box img.dot {
      width: 4em;
      position: absolute;
      right: 0px;
      top: 17em; }
    body main .company_box .company_box_inner {
      flex-direction: column;
      display: flex;
      width: 85%;
      margin: 0 auto;
      position: relative; }
      body main .company_box .company_box_inner h6 {
        font-size: 14px;
        font-family: "OpenSans";
        color: #0086e6; }
      body main .company_box .company_box_inner h1 {
        font-size: 32px;
        font-family: "OpenSans-Bold";
        color: rgba(0, 0, 0, 0.9);
        margin: 16px 0 64px 0;
        position: relative; }
        body main .company_box .company_box_inner h1 hr {
          width: 190px;
          position: absolute;
          top: 1px;
          margin-left: 363px;
          color: #0086e6; }
      body main .company_box .company_box_inner ul {
        width: 100%; }
        body main .company_box .company_box_inner ul li .img {
          width: 79px;
          height: 101px;
          background-color: white; }
        body main .company_box .company_box_inner ul li h4 {
          font-size: 24px;
          font-family: "OpenSans-Bold";
          color: black;
          margin: 40px 0 16px 0; }
        body main .company_box .company_box_inner ul li p {
          font-size: 18px;
          font-family: "OpenSans";
          color: black;
          width: 302px; }
        body main .company_box .company_box_inner ul li:first-child img {
          width: 87px;
          height: 55px;
          margin: 32px 0 15px 15px; }
        body main .company_box .company_box_inner ul li:nth-child(2) img {
          width: 66px;
          height: 64px;
          margin: 23px 0 15px 35px; }
        body main .company_box .company_box_inner ul li:nth-child(3) img {
          width: 85px;
          height: 51px;
          margin: 36px 0 15px 14px; }
  body main .value_box {
    display: flex;
    width: 85%;
    margin: 0 auto; }
    body main .value_box > div:first-child {
      position: relative;
      margin-right: 55px; }
      body main .value_box > div:first-child img:first-child {
        position: absolute;
        width: 138px;
        left: 50px; }
      body main .value_box > div:first-child img:last-child {
        width: 523px;
        height: 357px;
        position: absolute;
        top: 37px; }
    body main .value_box > div:nth-child(2) .white_box {
      background-color: white;
      width: 523px;
      padding: 40px 65px 48px 46px; }
      body main .value_box > div:nth-child(2) .white_box h6 {
        font-size: 14px;
        font-family: "OpenSans";
        color: #0086e6; }
      body main .value_box > div:nth-child(2) .white_box h1 {
        color: #000000;
        font-family: "OpenSans-Bold";
        font-size: 32px; }
      body main .value_box > div:nth-child(2) .white_box p {
        color: #000000;
        font-family: "OpenSans";
        font-size: 18px;
        margin: 32px 0; }
      body main .value_box > div:nth-child(2) .white_box button {
        background: #0086e6;
        width: 412px;
        height: 40px;
        border-radius: 0px;
        display: flex;
        align-items: center; }
        body main .value_box > div:nth-child(2) .white_box button img {
          width: 16.1px;
          height: 16.1px;
          margin: 0 auto;
          position: absolute;
          left: 160px; }
        body main .value_box > div:nth-child(2) .white_box button span {
          font-size: 14px;
          font-family: "OpenSans-SemiBold";
          text-transform: none;
          margin: 0 auto; }
  body main .branch_box {
    flex-direction: column;
    display: flex;
    width: 85%;
    margin: 70px auto;
    position: relative; }
    body main .branch_box h6 {
      font-size: 14px;
      font-family: "OpenSans";
      color: #0086e6; }
    body main .branch_box h1 {
      font-size: 32px;
      font-family: "OpenSans-Bold";
      color: #000000;
      margin: 10px 0 0 0;
      position: relative; }
      body main .branch_box h1 hr {
        width: 190px;
        position: absolute;
        top: 1px;
        margin-left: 423px;
        color: #0086e6; }
    body main .branch_box p {
      color: #000000;
      font-family: "OpenSans";
      font-size: 18px;
      margin: 30px 0;
      width: 402px; }
    body main .branch_box ul {
      margin-left: 2px !important; }
      body main .branch_box ul li {
        list-style: disc;
        color: #0086e6;
        position: relative;
        margin: 16px auto; }
        body main .branch_box ul li hr {
          width: 47px;
          position: absolute;
          top: 11px;
          margin: 0 2px;
          color: #0086e6; }
        body main .branch_box ul li span {
          margin-left: 70px;
          color: #000000; }
  body main .product_box .product_box_title {
    flex-direction: column;
    display: flex;
    width: 85%;
    margin: 70px auto;
    position: relative; }
    body main .product_box .product_box_title h6 {
      font-size: 14px;
      font-family: "OpenSans";
      color: #0086e6; }
    body main .product_box .product_box_title h1 {
      font-size: 32px;
      font-family: "OpenSans-Bold";
      color: #000000;
      margin: 10px 0 0 0;
      position: relative; }
      body main .product_box .product_box_title h1 hr {
        width: 190px;
        position: absolute;
        top: 1px;
        margin-left: 180px;
        color: #0086e6; }
  body main .product_box .product_box_list {
    margin: 0 auto; }
    body main .product_box .product_box_list .row {
      display: flex;
      justify-content: center;
      margin-bottom: 0; }
      body main .product_box .product_box_list .row > div {
        background-color: white;
        width: 302px;
        height: 254px;
        margin: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center; }
        body main .product_box .product_box_list .row > div img {
          width: 87px;
          height: 89px; }
        body main .product_box .product_box_list .row > div p {
          text-align: center;
          font-size: 20px;
          font-family: "OpenSans-Bold";
          color: #000000;
          margin-bottom: 0; }
      body main .product_box .product_box_list .row > div.see_all {
        background-color: #0086e6;
        width: 302px;
        height: 254px;
        margin: 20px; }
        body main .product_box .product_box_list .row > div.see_all span {
          text-align: center;
          font-size: 40px;
          font-family: "OpenSans-Bold";
          color: white; }
          body main .product_box .product_box_list .row > div.see_all span img {
            width: 8px;
            height: 15px;
            margin-left: 20px;
            vertical-align: middle; }
  body main .brand_box {
    width: 85%;
    margin: 70px auto;
    position: relative; }
    body main .brand_box h6 {
      font-size: 14px;
      font-family: "OpenSans";
      color: #0086e6; }
    body main .brand_box h1 {
      font-size: 32px;
      font-family: "OpenSans-Bold";
      color: #000000;
      margin: 18px 0 49px 0;
      position: relative; }
      body main .brand_box h1 hr {
        width: 190px;
        position: absolute;
        top: 1px;
        margin-left: 180px;
        color: #0086e6; }
    body main .brand_box .row {
      display: flex;
      justify-content: center;
      margin-bottom: 0; }
      body main .brand_box .row > div:first-child {
        background-color: #0086e6;
        width: 302px;
        height: 254px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center; }
        body main .brand_box .row > div:first-child span {
          font-size: 48px;
          font-family: "OpenSans-Bold";
          color: white; }
          body main .brand_box .row > div:first-child span img {
            width: 8px;
            height: 15px;
            margin-left: 20px;
            vertical-align: middle; }
      body main .brand_box .row > div:last-child {
        background-color: white;
        height: 254px;
        margin: 20px;
        display: flex;
        align-items: center;
        flex-direction: column; }
        body main .brand_box .row > div:last-child > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          margin: 20px auto; }
          body main .brand_box .row > div:last-child > div > div {
            display: flex;
            justify-content: center; }
            body main .brand_box .row > div:last-child > div > div img {
              width: 13em; }
        body main .brand_box .row > div:last-child > div:first-child div:nth-child(2) img,
        body main .brand_box .row > div:last-child > div:first-child div:nth-child(3) img {
          width: 6em; }
  body main .row.last_search_box {
    position: relative; }
    body main .row.last_search_box img.dot {
      width: 8em;
      position: absolute;
      right: 160px;
      top: -30px; }
    body main .row.last_search_box .end_search_box {
      position: relative; }
      body main .row.last_search_box .end_search_box > div.col > div {
        background: white; }
        body main .row.last_search_box .end_search_box > div.col > div h1 {
          color: #161719;
          font-family: "OpenSans-Bold";
          font-size: 22px;
          text-transform: uppercase;
          margin-bottom: 0;
          margin-top: 0; }
        body main .row.last_search_box .end_search_box > div.col > div p {
          color: #3d3d3d;
          font-family: "OpenSans";
          font-size: 16px;
          margin: 16px 0 40px 0; }
        body main .row.last_search_box .end_search_box > div.col > div div.search {
          position: relative;
          width: 563px; }
          body main .row.last_search_box .end_search_box > div.col > div div.search input {
            width: 523px;
            height: 56px;
            position: relative;
            border: none;
            background: white;
            font-family: "OpenSans-SemiBold";
            font-size: 12px;
            color: #004377;
            box-shadow: 5px 6px 19px #b3b3b3; }
            body main .row.last_search_box .end_search_box > div.col > div div.search input::placeholder {
              font-family: "OpenSans-SemiBold";
              font-size: 12px;
              color: #004377; }
            body main .row.last_search_box .end_search_box > div.col > div div.search input:focus {
              border: none !important;
              box-shadow: none !important; }
          body main .row.last_search_box .end_search_box > div.col > div div.search button {
            background: #0086e6;
            width: 117px;
            height: 44px;
            position: absolute;
            right: 6px;
            top: 6px;
            border-radius: 0px;
            display: flex;
            align-items: center; }
            body main .row.last_search_box .end_search_box > div.col > div div.search button img {
              width: 16.1px;
              height: 16.1px;
              margin: 0 2px 0 4px; }
            body main .row.last_search_box .end_search_box > div.col > div div.search button span {
              font-size: 14px;
              font-family: "OpenSans-SemiBold";
              text-transform: none;
              margin: 0 auto; }

@media screen and (max-width: 680px) {
  body main h1 hr {
    display: none; }
  body main .slider_box {
    height: auto;
    padding-bottom: 60px; }
    body main .slider_box .slider_box_inner {
      display: block; }
      body main .slider_box .slider_box_inner div.search {
        width: 100%; }
        body main .slider_box .slider_box_inner div.search input {
          width: 100%;
          padding: 0;
          padding-left: 5px; }
        body main .slider_box .slider_box_inner div.search button {
          width: auto; }
        body main .slider_box .slider_box_inner div.search span {
          display: none; }
  body main .branch_box p {
    width: auto; } }
@media screen and (max-width: 992px) {
  body main .slider_box {
    height: auto;
    padding-bottom: 60px; }
    body main .slider_box .slider_box_inner {
      display: block;
      margin-top: 165px; }
      body main .slider_box .slider_box_inner > div:first-child {
        margin-bottom: 50px; }
  body main .value_box {
    display: block; }
    body main .value_box > div:nth-child(2) .white_box {
      margin-top: 440px;
      width: auto;
      height: auto; }
      body main .value_box > div:nth-child(2) .white_box button {
        width: auto; }
  body main .product_box .product_box_list .row {
    display: block; }
  body main .brand_box .row {
    display: block; }
    body main .brand_box .row > div:first-child {
      margin: 20px 0px; }
    body main .brand_box .row > div:last-child {
      height: auto;
      display: flex;
      align-items: center;
      margin: 20px 0px; }
      body main .brand_box .row > div:last-child > div img {
        height: auto; }
  body main .last_search_box .end_search_box > div.col > div {
    padding: 30px 10px; }
    body main .last_search_box .end_search_box > div.col > div div.search {
      width: 100% !important; }
      body main .last_search_box .end_search_box > div.col > div div.search input {
        width: 100% !important;
        padding: 0;
        padding-left: 5px; }
      body main .last_search_box .end_search_box > div.col > div div.search button {
        width: auto !important; }
      body main .last_search_box .end_search_box > div.col > div div.search span {
        display: none; } }
@media screen and (min-width: 993px) and (max-width: 1086px) {
  body main .slider_box .slider_box_inner div.search {
    width: 407px; }
    body main .slider_box .slider_box_inner div.search input {
      width: 367px; }
  body main .value_box > div:nth-child(2) .white_box {
    width: auto;
    height: auto;
    padding: 20px; }
    body main .value_box > div:nth-child(2) .white_box button {
      width: auto; }
  body main .last_search_box .end_search_box > div.col > div {
    padding: 40px 20px; }
    body main .last_search_box .end_search_box > div.col > div div.search {
      width: 36em !important; }
      body main .last_search_box .end_search_box > div.col > div div.search input {
        width: auto; } }
@media screen and (min-width: 1087px) {
  .last_search_box .end_search_box > div.col > div {
    padding: 40px 30px;
    width: 634px;
    margin: 0 auto; }
    .last_search_box .end_search_box > div.col > div div.search input {
      padding: 0px 20px; } }
nav.header_box {
  background-color: #004377 !important; }
  nav.header_box ul {
    margin: revert !important; }
    nav.header_box ul a {
      box-shadow: none !important; }
    nav.header_box ul a.btn {
      margin-left: 4px !important;
      margin-right: 4px !important; }
    nav.header_box ul span.badge {
      line-height: 17px !important;
      height: 16px !important;
      -webkit-font-smoothing: auto;
      width: 16px;
      min-width: 16px !important;
      color: white;
      font-size: 12px;
      border-radius: 50%;
      text-align: center; }

nav.home {
  background-color: #f7f7f7; }
  nav.home ul {
    margin: 25px auto !important; }
    nav.home ul a {
      box-shadow: none !important; }
    nav.home ul a.btn {
      margin-left: 4px !important;
      margin-right: 4px !important; }
    nav.home ul span.badge {
      line-height: 17px !important;
      height: 16px !important;
      -webkit-font-smoothing: auto;
      width: 16px;
      min-width: 16px !important;
      color: white;
      font-size: 12px;
      border-radius: 50%;
      text-align: center; }

/*# sourceMappingURL=main.css.map */
